<html>
  <body>
    <div>
      {{#errors}}
      <div class="alert alert-danger" role="alert">{{errors}}</div>
      {{/errors}}

      <div class="classes">
        <div>CLASSES</div>
        <form
          action="{{#isEditing}}/admin/update-class/{{classId}}{{/isEditing}}{{^isEditing}}/admin/new-class{{/isEditing}}"
          method="POST"
        >
          <div class="mb-3">
            <label for="class-name" class="form-label">Name</label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="class-name"
              value="{{#classes}}{{name}}{{/classes}}"
            />
          </div>
          <div class="mb-3">
            <label for="class-desc" class="form-label">Description</label>
            <textarea class="form-control" id="class-desc" name="description" placeholder="Enter class description">
{{#classes}}{{description}}{{/classes}}
          </textarea
            >
          </div>
          <div class="mb-3">
            <label for="schedule" class="form-label">Schedule</label>
            <input
              type="text"
              class="form-control"
              id="schedule"
              name="schedule"
              value="{{#classes}}{{schedule}}{{/classes}}"
            />
          </div>
          <div class="mb-3">
            <label for="class-price" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              id="class-price"
              name="price"
              value="{{#classes}}{{price}}{{/classes}}"
              min="0"
              step="0.01"
            />
            <div class="mb-3">
              <label for="orgId" class="form-label">Select an instructor</label>
              <select name="orgId" id="orgId" required>
                <option value="">Select Instructor</option>
                {{#organisers}}
               <option value="{{orgId}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/organisers}}
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
