<html>
  <body>
    <div>{{title}}</div>

    {{#workshops}}
    <div class="workshop-entry">
      <p>Workshop Name: {{name}}</p>
      <p>{{description}}</p>
      <p>{{numOfSessions}} sessions</p>
      <p>£ {{price}}</p>
      <div class="workshop-actions">
        <form action="/edit-workshop/{{courseId}}" method="GET">
          <button type="submit" class="btn btn-danger">Edit Workshop</button>
        </form>

        <form action="/delete-workshop/{{courseId}}" method="POST">
          <button type="submit" class="btn btn-danger">Delete Workshop</button>
        </form>
      </div>
    </div>
    {{/workshops}} {{^workshops}}
    <p>No workshops found</p>
    {{/workshops}}

    <div class="text-right">
      <a href="/workshop-form" class="btn btn-primary">Add a Workshop</a>
    </div>
  </body>
</html>
