{{#success_msg}}
  <div class="alert alert-success alert-dismissible fade show floating-alert" role="alert">
    {{.}}
  </div>
{{/success_msg}}

{{#error_msg}}
  <div class="alert alert-danger alert-dismissible fade show floating-alert" role="alert">
    {{.}}
  </div>
{{/error_msg}}

{{#info_msg}}
  <div class="alert alert-info alert-dismissible fade show floating-alert" role="alert">
  </div>
{{/info_msg}}