<div>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Start Dancing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Who Are We</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"
        >Join Us</a
      >
      <ul class="dropdown-menu">
        {{^user}}
        <li><a id="login" href="/login" class="dropdown-item" href="#">Login</a></li>
        <li><a id="login" href="/register" class="dropdown-item" href="#"> Register</a></li>
        {{/user}}
      </ul>
    </li>
  </ul>
</div>
