<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    {{#user}} {{> authHeader }} {{/user}} {{^user}} {{> header }} {{/user}} {{> flash}}
    <main>
      <div>
        {{#flash.success}}
        <div class="alert alert-success">{{flash.success}}</div>
        {{/flash.success}} {{#flash.error}}
        <div class="alert alert-danger">{{flash.error}}</div>
        {{/flash.error}}
      </div>
      <div class="mx-5">
        <p class="highlighted-text fs-1 mt-5">Your Dashboard</p>
      </div>

      <div class="my-enrolments mx-5 p-2">
        <p class="fs-4">My Enrolments</p>
        <div class="classes mx-5 p-2">
          <table class="table mx-auto table-responsive">
            <thead>
              <tr>
                <th scope="col">Class</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {{#enrolledClasses}}
              <tr>
                <td scope="row">{{name}}</td>
                <td>{{schedule}}</td>
                <td>
                  <form action="/class/{{classId}}/unenroll" method="POST">
                    <button type="submit" class="btn btn-clear btn-small">Unenroll</button>
                  </form>
                </td>
              </tr>
              {{/enrolledClasses}}
            </tbody>
          </table>
          <div class="d-flex justify-content-center px-3">
            {{^enrolledClasses}}
            <p>You are not enrolled in any classes.</p>
            {{/enrolledClasses}}
          </div>
        </div>

        <div class="workshops mx-5 p-2">
          <table class="table mx-auto table-responsive">
            <thead>
              <tr>
                <th scope="col">Workshop</th>
                <th scope="col">No. of Sessions</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {{#enrolledWorkshops}}
              <tr>
                <td scope="row">{{name}}</td>
                <td>{{numOfSessions}}</td>
                <td>
                  <form action="/workshop/{{courseId}}/unenroll" method="POST">
                    <button type="submit" class="btn btn-clear btn-small">Unenroll</button>
                  </form>
                </td>
              </tr>
              {{/enrolledWorkshops}}
            </tbody>
          </table>
          <div class="d-flex justify-content-center px-3">
            {{^enrolledWorkshops}}
            <p>You are not enrolled in any workshops.</p>
            {{/enrolledWorkshops}}
          </div>
        </div>
      </div>

      {{> pageBreak }}

      <div class="px-3 py-5">
        <div class="classes m-5 p-2">
          <p class="fs-4">Available Classes</p>
          <div class="card-group">
            {{#classes}}
            <div class="card mb-3" style="width: 18rem">
              <div class="card-body">
                <h3 class="card-title">{{name}}</h5>
                <p class="card-text fs-6">{{description}}</p>  
              </div>
              <div class="d-flex justify-content-end m-4">
                {{#isEnrolled}}
                <form action="/class/{{classId}}/unenroll" method="POST">
                  <button type="submit" class="btn btn-clear btn-sm">Unenroll</button>
                </form>
                {{/isEnrolled}} {{^isEnrolled}}
                <form action="/class/{{classId}}/enroll" method="POST">
                  <button type="submit" class="btn btn-styled btn-sm">Enroll</button>
                </form>
                {{/isEnrolled}}
              </div>
              <div class="card-footer">
                <p class="card-text fs-6">Every {{schedule}} at <strong>£ {{price}}</strong></p>
              </div>
            </div>
            {{/classes}}
          </div>
          <div>
            {{^classes}}
            <p>No classes available at this time.</p>
            {{/classes}}
          </div>
        </div>

        <div class="workshops m-5 p-2">
          <p class="fs-4">Available Workshops</p>
          <div class="card-group">
            {{#workshops}}
            <div class="card mb-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text fs-6">{{description}}</p>
              </div>
              <div class="d-flex justify-content-end m-4">
                {{#isEnrolled}}
                <form action="/workshop/{{courseId}}/unenroll" method="POST">
                  <button type="submit" class="btn btn-clear btn-sm">Unenroll</button>
                </form>
                {{/isEnrolled}} {{^isEnrolled}}
                <form action="/workshop/{{courseId}}/enroll" method="POST">
                  <button type="submit" class="btn btn-styled btn-sm">Enroll</button>
                </form>
                {{/isEnrolled}}
              </div>
              <div class="card-footer">
                <p class="card-text fs-6">{{numOfSessions}} sessions at <strong>£ {{price}}</strong></p>
              </div>
            </div>
            {{/workshops}}
          </div>
          <div>
            {{^workshops}}
            <p>No workshops available at this time.</p>
            {{/workshops}}
          </div>
        </div>
      </div>
    </main>

    {{> footer }}

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/alerts.js"></script>  
  </body>
</html>
